{% extends 'base.html' %}
{% block content %}
<h1>All Games</h1>
<form method="GET">
    <input
        type="text"
        name="search"
        placeholder="Search game..."
    >
    <button class="btn" type="submit">
        Search
    </button>
</form>
<div class="game-grid">
{% for game in games %}
<div class="game-card">
    <img src="{{ game.cover_image.url }}">
    <div class="game-content">
        <h2>{{ game.title }}</h2>
        <p>Genre: {{ game.genre }}</p>
        <p>Rating: {{ game.rating }}</p>
        <p>Price: ${{ game.price }}</p>
        <a
            class="btn"
            href="/games/{{ game.id }}/"
        >
            View Details
        </a>
        <a
        class="btn delete-btn"
        href="/games/{{ game.id }}/delete/"
        >
        Delete
        </a>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}